@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px; /* Base font size */
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 180 100% 50%;
    --foreground: 180 25% 15%;
    --card: 180 90% 60%;
    --card-foreground: 180 25% 15%;
    --popover: 180 90% 60%;
    --popover-foreground: 180 25% 15%;
    --primary: 180 25% 25%;
    --primary-foreground: 180 25% 95%;
    --secondary: 180 90% 70%;
    --secondary-foreground: 180 25% 15%;
    --muted: 180 90% 70%;
    --muted-foreground: 180 25% 40%;
    --accent: 180 90% 75%;
    --accent-foreground: 180 25% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 180 90% 40%;
    --input: 180 90% 40%;
    --ring: 180 100% 40%;
    --chart-1: 180 76% 61%;
    --chart-2: 180 58% 39%;
    --chart-3: 180 37% 24%;
    --chart-4: 180 74% 66%;
    --chart-5: 180 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 204 100% 96%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 204 100% 91%;
    I--sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 180 100% 50%;
    --foreground: 180 25% 15%;
    --card: 180 90% 60%;
    --card-foreground: 180 25% 15%;
    --popover: 180 90% 60%;
    --popover-foreground: 180 25% 15%;
    --primary: 180 25% 25%;
    --primary-foreground: 180 25% 95%;
    --secondary: 180 90% 70%;
    --secondary-foreground: 180 25% 15%;
    --muted: 180 90% 70%;
    --muted-foreground: 180 25% 40%;
    --accent: 180 90% 75%;
    --accent-foreground: 180 25% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 90% 40%;
    --input: 180 90% 40%;
    --ring: 180 100% 40%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
